<head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"></head>
<div class="container">
  <h1 class="text-center">Flight Space</h1>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>&nbsp;
    <a class="navbar-brand" routerLink="/people">People</a>
    <a class="navbar-brand" routerLink="/starships">Starships</a>
    <a class="navbar-brand" routerLink="/planets">Planets</a>
  </nav>
  <router-outlet></router-outlet>
</div>
